p{
    margin: 0rem;
}

.sidesheet{
    display: flex;
    flex-direction: column;
    width: 28rem;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0rem;
    
}

.body{
    padding: 2rem;
    background-color: bisque;
}

.header_text{
    font-family: 'Segoe UI';
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0rem;
}

.content_text{

    font-family: 'Segoe UI';
    font-size: .75rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

}

.descriptor_text{

    font-family: 'Segoe UI';
    font-size: .625rem;
    font-weight: 400;
    opacity: 70%;

}