p{
    margin: 0rem;
}

.sidesheet{
    display: flex;
    flex-direction: column;
    width: 28rem;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0rem;
    
}

.body{
    padding: 2rem;
    background-color: bisque;
}
