
html{font-family: 'Roboto', sans-serif;}


.header_text{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0rem;
}

.content_text{
    font-size: .75rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

}

.descriptor_text{

    font-size: .625rem;
    font-weight: 400;
    opacity: 70%;

}