.chip{
    font-size: .75rem;
    font-weight: 500;
    box-sizing: border-box;
    height: 1.75rem;
    border-radius: 222rem;
    border: 0rem;
    padding: .375rem .75rem;
    margin: 0.25rem;
}

.selected{
    background-color: blue;
    color: #fff;

}

.active{
    color: #444;
    border-color: #bbb;
    border-style: solid;
    border-width: 1.5px;

}